{% extends "base_issue.html" %}

{% load i18n %}
{% load smart_if %}
{% load captureas %}
{% load dict_get %}
{% block head_title %}{{ issue.title }} {% endblock %}

{% block body %}
<table id="grid">
    {% for i in nb_case_x %}
    <tr>
        {% for j in nb_case_y %}
        {% captureas coord %}({{ i }}, {{ j }}){% endcaptureas %}
        <td>
            {% if coord in t_squares_open %}
            <a href="{% url square action="book" pos_x=i pos_y=j issue_slug=issue.slug %}">{{ coord }}</a>
            {% else %}
                {% if coord in t_squares %}
                    {% with t_squares|get:coord as square %}
                        {% if square.user == user %}
                            {% if not square.status %}
                            <a href="{% url square action="fill" pos_x=i pos_y=j issue_slug=issue.slug %}">
                                <span class="verified">{{ coord }}</span>
                            </a>
                            {% else %}
                                <img src="{{ upload_thumb_url }}/100_{{ square.background_image.name }}.png" />
                            {% endif %}
                        {% else %}
                            {% if square.status %}
                                <img src="{{ upload_thumb_url }}/100_{{ square.background_image.name }}.png" />
                            {% else %}
                                <span class="unverified">{{ coord }}</span>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% else %}
                    {{ coord }}
                {% endif %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
