{% extends "base_profiles.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Fill position {% endblocktrans %}({{ square.pos_x }}, {{ square.pos_y }}){% endblock %}

{% block body %}
<div class="clearfix padtop">
    <div id="basic-form">
    <fieldset>
        <legend>{% trans "Fill position" %} ({{ square.pos_x }}, {{ square.pos_y }})</legend>
            <form class="signupform" id="fill_form" method="post" action="{% url square action="fill" pos_x=square.pos_x pos_y=square.pos_y issue_slug=issue.slug %}">
                <table width="300px">
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td><input type="submit" value="{% trans "Send" %}" class="button" /></td>
                    </tr>
                </table>
            </form>
            {% url privacy as privacy_url %}
            <div class="right-form">
                <p>{% blocktrans %}If you have any trouble with this form, contact us at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.{% endblocktrans %}</p>
    </fieldset>
    </div>
</div>
{% endblock %}