{% extends "base_profiles.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}Templates for {{ user }}{% endblocktrans %}{% endblock %}

{% block body %}
    {% for issue, participations in participations_by_issues.items %}
        <h1>{{ issue.title }}</h1>
        {% if participations %}
            <table class="email_list">
            {% for participation in participations %}
                <tr>
                    <td>
                        <a href="{% url square_template participation.template_name %}">{{ participation.square }}</a>&nbsp;
                    </td>
                    <td>
                        <a href="{% url square_release participation.square.pos_x participation.square.pos_y issue.slug %}">{% trans "release" %}</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    {% endfor %}
{% endblock %}