{% extends "base_issue.html" %}

{% load i18n %}
{% load smart_if %}
{% load captureas %}
{% load dict_get %}
{% load square_extras %}
{% block head_title %}{{ issue.title }} {% endblock %}

{% block body %}
<table id="grid">
    {% for j in nb_case_y %}
    <tr>
        {% for i in nb_case_x %}
        {% captureas coord %}({{ i }}, {{ j }}){% endcaptureas %}
        <td>
            {% if coord in square_open_list %}
            <a href="{% url square_book pos_x=i pos_y=j issue_slug=issue.slug %}">
                {% with square_list|get:coord as square %}
                    <div class="opened">
                    {% if square.background_image %}
                        <img src="{{ square|background_image_thumb_url:100 }}" />
                    {% else %}
                        {{ coord }}
                    {% endif %}
                    </div>
                {% endwith %}
            </a>
            {% else %}
                {% if coord in square_list %}
                    {% with square_list|get:coord as square %}
                        {% if square.user == user %}
                            {% if not square.status %}
                                <div class="fill">
                                    <a href="{% url square_fill pos_x=i pos_y=j issue_slug=issue.slug %}">
                                {% if square.background_image %}
                                        <img src="{{ square|background_image_thumb_url:100 }}" />
                                {% else %}
                                    {{ coord }}
                                {% endif %}
                                </a>
                                </div>
                            {% else %}
                                <img src="{{ square|background_image_thumb_url:100 }}" />
                            {% endif %}
                        {% else %}
                            {% if square.status %}
                            <div>
                                <img src="{{ square|background_image_thumb_url:100 }}" />
                            </div>
                            {% else %}
                                <div class="disabled">
                                {% if square.background_image %}
                                    <img src="{{ square|background_image_thumb_url:100 }}" />
                                {% else %}
                                    {{ coord }}
                                {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% else %}
                    {{ coord }}
                {% endif %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

