{% extends 'base_questionnaire.html' %}

{% block title %}
Envies et motivations des cr&eacute;ateurs dans la cr&eacute;ation collaborative &gt; questionnaire
{% endblock %}

{% block questionnaire %}

<form action="/questionnaire/" method="POST">
    <h2 class="left">Vous ...</h2>
    {{ form.coordonnees.errors }}
    <p class="text">{{ form.coordonnees }}<label for="id_last_name">Nom / Pr&eacute;nom / Pseudonyme</label></p>
    {{ form.age.errors }}
    <p class="text">{{ form.age }}<label for="id_age">{{ form.age.label_tag }}</label></p>
    {{ form.profession.errors }}
    <p class="text">{{ form.profession }}<label for="id_profession">Profession</label></p>
    {{ form.place_to_work.errors }}
    <p class="text">{{ form.place_to_work }}<label for="id_place_to_work">Soci&eacute;t&eacute; / &Eacute;cole</label></p>
    {{ form.email.errors }}
    <p class="last text">{{ form.email }}<label for="email">Mail</label></p>
    
    <h2 class="right">... et l'art collaboratif</h2>
    {{ form.question1.errors }}
    <p><label class="none" for="id_question1">Avez vous d&eacute;j&agrave; collabor&eacute; avec d'autres cr&eacute;ateurs par le biais d'Internet ? Si oui, quel en a &eacute;t&eacute; le r&eacute;sultat ? Le projet a t'il &eacute;t&eacute; abandonn&eacute; ou finalis&eacute; ? Comment, pourquoi ? Des d&eacute;tails.</label>{{ form.question1 }}</p>
    {{ form.question2.errors }}
    <p><label class="none" for="id_question2">La finalit&eacute; du projet (impression / publication / distribution) vous int&eacute;resse-elle plus que la d&eacute;marche artistique ?</label>{{ form.question2 }}</p>
    {{ form.question3.errors }}
    <p><label class="none" for="id_question3">Qu'attendriez-vous d'une telle exp&eacute;rience (travailler pour le plaisir / voir et donner &agrave; voir / ...) ?</label>{{ form.question3 }}</p>
    {{ form.question4.errors }}
    <p><label class="none" for="id_question4">Continuer une oeuvre amorc&eacute;e par un autre cr&eacute;ateur vous stimule-t-il ?</label>{{ form.question4 }}</p>
    {{ form.question5.errors }}
    <p><label class="none" for="id_question5">A l'inverse, seriez-vous dispos&eacute; &agrave; ce que d'autres cr&eacute;ateurs interviennent sur une partie de votre travail ?</label>{{ form.question5 }}</p>
    {{ form.question6.errors }}
    <p><label class="none" for="id_question6">D'une mani&egrave;re g&eacute;n&eacute;rale, les contraintes de cr&eacute;ation (outils, th&egrave;mes impos&eacute;s) vous stimulent-elles, ou vous rebutent-elles ?</label>{{ form.question6 }}</p>
    {{ form.question7.errors }}
    <p><label class="none" for="id_question7">Tous les commentaires / remarques / id&eacute;es sont les bienvenu(e)s !</label>{{ form.question7 }}</p>
	<p class="submit"><input type="submit" value="envoyer" /></p>
</form>
{% endblock %}