table#grid td, table#grid tr {
    padding: 0;
    margin: 0;
}

div.fill {
    border: 1px solid green;
}

div.booked {
    border: 1px solid red;
}

div.opened {
    border: 1px solid blue;
}

div.disabled {
    opacity: 0.5;
}